{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Вход</h1>
<form method="post" class="col-md-6">
  <div class="mb-3">
    <label class="form-label" for="username">Логин</label>
    <input class="form-control" id="username" name="username" type="text" value="{{ username }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Пароль</label>
    <input class="form-control" id="password" name="password" type="password" required>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" id="remember" name="remember" type="checkbox">
    <label class="form-check-label" for="remember">Запомнить меня</label>
  </div>
  <button class="btn btn-primary" type="submit">Войти</button>
</form>
{% endblock %}
