{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Изменить пароль</h1>
<form method="post" class="col-md-7">
  <div class="mb-3">
    <label class="form-label" for="old_password">Старый пароль</label>
    <input class="form-control {% if errors.get('old_password') %}is-invalid{% endif %}" id="old_password" name="old_password" type="password" value="{{ form_data.get('old_password', '') }}">
    {% if errors.get('old_password') %}
    <div class="invalid-feedback">{{ errors.get('old_password') }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label class="form-label" for="new_password">Новый пароль</label>
    <input class="form-control {% if errors.get('new_password') %}is-invalid{% endif %}" id="new_password" name="new_password" type="password" value="{{ form_data.get('new_password', '') }}">
    {% if errors.get('new_password') %}
    <div class="invalid-feedback">{{ errors.get('new_password') }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label class="form-label" for="new_password_confirm">Повторите новый пароль</label>
    <input class="form-control {% if errors.get('new_password_confirm') %}is-invalid{% endif %}" id="new_password_confirm" name="new_password_confirm" type="password" value="{{ form_data.get('new_password_confirm', '') }}">
    {% if errors.get('new_password_confirm') %}
    <div class="invalid-feedback">{{ errors.get('new_password_confirm') }}</div>
    {% endif %}
  </div>

  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}
